.conteiner {
  background-color: lightsalmon;
  display: flex;
  flex-flow: row wrap;
}

.item {
  background-color: lightblue;
  border: 1px solid #000;
  flex-basis: auto;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
